* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #070b14;
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #0c1322;
  border-bottom: 1px solid #1f2937;
  position: sticky;
  top: 0;
}

.logo {
  color: #39ff88;
  font-size: 26px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(57,255,136,0.5);
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #39ff88;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 55px;
}

.hero h1 span {
  color: #39ff88;
}

.hero p {
  color: #9ca3af;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 22px;
  background: #39ff88;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

/* PLANS */
section {
  padding: 80px 8%;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

.plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.plan {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #1f2937;
  transition: 0.3s;
}

.plan:hover {
  border-color: #39ff88;
  transform: translateY(-5px);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  color: #777;
  border-top: 1px solid #1f2937;
}
